<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhraseArray</key>
	<array>
		<dict>
			<key>Peringatan!</key>
			<array>
				<string>Peringatan!</string>
			</array>
		</dict>
		<dict>
			<key>Perhatian!</key>
			<array>
				<string>Perhatian!</string>
			</array>
		</dict>
		<dict>
			<key>Permisi!</key>
			<array>
				<string>Permisi!</string>
			</array>
		</dict>
		<dict>
			<key>Maaf!</key>
			<array>
				<string>Maaf!</string>
			</array>
		</dict>
	</array>
	<key>NoDefaultPhrasesSelected</key>
	<string>Peringatan dari </string>
	<key>TunedAttentionString</key>
	<string>membutuhkan bantuan Anda</string>
</dict>
</plist>
