<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhraseArray</key>
	<array>
		<dict>
			<key>Advarsel!</key>
			<array>
				<string>Advarsel!</string>
			</array>
		</dict>
		<dict>
			<key>Bemærk!</key>
			<array>
				<string>Bemærk!</string>
			</array>
		</dict>
		<dict>
			<key>Undskyld!</key>
			<array>
				<string>Undskyld!</string>
			</array>
		</dict>
		<dict>
			<key>Undskyld mig!</key>
			<array>
				<string>Undskyld mig!</string>
			</array>
		</dict>
	</array>
	<key>NoDefaultPhrasesSelected</key>
	<string>Advarsel fra </string>
	<key>TunedAttentionString</key>
	<string> har brug for din hjælp.</string>
</dict>
</plist>
