<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhraseArray</key>
	<array>
		<dict>
			<key>Alertă</key>
			<array>
				<string>Alertă</string>
			</array>
		</dict>
			<dict>
			<key>Atenție</key>
			<array>
				<string>Atenție</string>
			</array>
		</dict>
		<dict>
			<key>Pardon</key>
			<array>
				<string>Pardon</string>
			</array>
		</dict>
			<dict>
			<key>Scuze</key>
			<array>
				<string>Scuze</string>
			</array>
		</dict>
	</array>
	<key>NoDefaultPhrasesSelected</key>
	<string>Alertă </string>
	<key>TunedAttentionString</key>
	<string> necesită atența dumneavoastră.</string>
</dict>
</plist>
