<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhraseArray</key>
	<array>
		<dict>
			<key>Upozornění</key>
			<array>
				<string>Upozornění</string>
			</array>
		</dict>
			<dict>
			<key>Pozor</key>
			<array>
				<string>Pozor</string>
			</array>
		</dict>
		<dict>
			<key>Promiňte</key>
			<array>
				<string>Promiňte</string>
			</array>
		</dict>
			<dict>
			<key>Odpusťte</key>
			<array>
				<string>Odpusťte</string>
			</array>
		</dict>
	</array>
	<key>NoDefaultPhrasesSelected</key>
	<string>Upozornění </string>
	<key>TunedAttentionString</key>
	<string> vyžaduje vaši pozornost.</string>
</dict>
</plist>
