<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhraseArray</key>
	<array>
		<dict>
			<key>Alerta!</key>
			<array>
				<string>Alerta!</string>
			</array>
		</dict>
		<dict>
			<key>Atenção!</key>
			<array>
				<string>Atenção!</string>
			</array>
		</dict>
		<dict>
			<key>Desculpe!</key>
			<array>
				<string>Desculpe!</string>
			</array>
		</dict>
		<dict>
			<key>Perdão!</key>
			<array>
				<string>Perdão!</string>
			</array>
		</dict>
	</array>
	<key>NoDefaultPhrasesSelected</key>
	<string>Alerta de </string>
	<key>TunedAttentionString</key>
	<string> precisa de sua ajuda</string>
</dict>
</plist>
