<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhraseArray</key>
	<array>
		<dict>
			<key>提示！</key>
			<array>
				<string>提示！</string>
			</array>
		</dict>
		<dict>
			<key>注意！</key>
			<array>
				<string>注意！</string>
			</array>
		</dict>
		<dict>
			<key>請注意！</key>
			<array>
				<string>請注意！</string>
			</array>
		</dict>
		<dict>
			<key>提醒您！</key>
			<array>
				<string>提醒您！</string>
			</array>
		</dict>
	</array>
	<key>NoDefaultPhrasesSelected</key>
	<string>請注意下列應用程式的提示： </string>
	<key>TunedAttentionString</key>
	<string> 需要您的確認。</string>
</dict>
</plist>
