<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhraseArray</key>
	<array>
		<dict>
			<key>Varsel!</key>
			<array>
				<string>Varsel!</string>
			</array>
		</dict>
		<dict>
			<key>Obs!</key>
			<array>
				<string>Obs!</string>
			</array>
		</dict>
		<dict>
			<key>Unnskyld!</key>
			<array>
				<string>Unnskyld!</string>
			</array>
		</dict>
		<dict>
			<key>Unnskyld meg!</key>
			<array>
				<string>Unnskyld meg!</string>
			</array>
		</dict>
	</array>
	<key>NoDefaultPhrasesSelected</key>
	<string>Varsel fra </string>
	<key>TunedAttentionString</key>
	<string> trenger din hjelp</string>
</dict>
</plist>
