<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhraseArray</key>
	<array>
		<dict>
			<key>Amaran!</key>
			<array>
				<string>Amaran!</string>
			</array>
		</dict>
		<dict>
			<key>Perhatian!</key>
			<array>
				<string>Perhatian!</string>
			</array>
		</dict>
		<dict>
			<key>Maafkan saya!</key>
			<array>
				<string>Maafkan saya!</string>
			</array>
		</dict>
		<dict>
			<key>Maafkan saya!</key>
			<array>
				<string>Maafkan saya!</string>
			</array>
		</dict>
	</array>
	<key>NoDefaultPhrasesSelected</key>
	<string>Amaran dari </string>
	<key>TunedAttentionString</key>
	<string>perlukan bantuan anda</string>
</dict>
</plist>
